site_name: "Snailz Docs"
docs_dir: pages
site_dir: docs

nav:
- Home: index.md
- Software:
  - base_mixin.md
  - grid.md
  - machine.md
  - person.md
  - rating.md
  - species.md
  - specimen.md
  - utils.md
- Project:
  - license.md
  - conduct.md
  - contributing.md

plugins:
- mkdocstrings:
    handlers:
      python: {}

theme:
  name: "material"

markdown_extensions:
- def_list
- footnotes

exclude_docs: >
  *~
