<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/lims.css">
    <link rel="icon" href="/static/favicon.ico">
    <script src="/static/htmx.min.js"></script>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <h2 class="subtitle">{{ description }}</h2>
    <p>number of assays: {{ n_assays }}</p>
    <p>number of machines: {{ n_machines }}</p>
    <p>number of persons: {{ n_persons }}</p>
    <p>number of specimens: {{ n_specimens }}</p>
    <p>number of surveys: {{ n_surveys }}</p>
  </body>
</html>
